.Key-module_special__UWEHN[data-state="absent"] {
  background-color: var(--color-absent);

  color: var(--key-evaluated-text-color-absent);
}

.Key-module_special__UWEHN[data-state="present"] {
  background-color: var(--color-present);

  color: var(--key-evaluated-text-color-present);
}

.Key-module_special__UWEHN[data-state="correct"] {
  background-color: var(--color-correct);

  color: var(--key-evaluated-text-color-correct);
}

.Key-module_special__UWEHN[data-state="unknown"] {
  background-color: grey;

  color: var(--key-evaluated-text-color-absent);

  border: 1px solid darkgrey;
}

.Key-module_special__UWEHN {
  font-family: "nyt-franklin";

  width: 100%;

  display: inline-flex;

  justify-content: center;

  align-items: center;

  font-size: 1rem;

  line-height: 1;

  font-weight: bold;

  vertical-align: middle;

  box-sizing: border-box;

  color: var(--tile-text-color);

  text-transform: uppercase;

  -webkit-user-select: none;

  -moz-user-select: none;

  user-select: none;

  width: 65.4px;

  height: 58px;

  margin: 2px;

  border-radius: 4px;
}

.Key-module_letter__UWEHN[data-state="absent"] {
  background-color: var(--color-absent);

  color: var(--key-evaluated-text-color-absent);
}

.Key-module_letter__UWEHN[data-state="present"] {
  background-color: var(--color-present);

  color: var(--key-evaluated-text-color-present);
}

.Key-module_letter__UWEHN[data-state="correct"] {
  background-color: var(--color-correct);

  color: var(--key-evaluated-text-color-correct);
}

.Key-module_letter__UWEHN[data-state="unknown"] {
  background-color: var(--color-unknown);

  color: var(--key-evaluated-text-color-absent);

  border: 1px solid darkgrey;
}

.Key-module_letter__UWEHN {
  font-family: "nyt-franklin";

  width: 100%;

  display: inline-flex;

  justify-content: center;

  align-items: center;

  font-size: 2rem;

  line-height: 1;

  font-weight: bold;

  vertical-align: middle;

  box-sizing: border-box;

  color: var(--tile-text-color);

  text-transform: uppercase;

  -webkit-user-select: none;

  -moz-user-select: none;

  user-select: none;

  width: 43.6px;

  height: 58px;

  margin: 2px;

  border-radius: 4px;
}

.Tile-module_tile__UWEHN[data-state="absent"] {
  background-color: var(--color-absent);

  color: var(--key-evaluated-text-color-absent);
}

.Tile-module_tile__UWEHN[data-state="present"] {
  background-color: var(--color-present);

  color: var(--key-evaluated-text-color-present);
}

.Tile-module_tile__UWEHN[data-state="correct"] {
  background-color: var(--color-correct);

  color: var(--key-evaluated-text-color-correct);
}

.Tile-module_tile__UWEHN[data-state="unknown"] {
  background-color: var(--color-unknown);

  color: var(--key-evaluated-text-color-absent);

  border: 1px solid darkgrey;
}

.Tile-module_tile__UWEHN {
  font-family: "nyt-franklin";

  width: 100%;

  display: inline-flex;

  justify-content: center;

  align-items: center;

  font-size: 2rem;

  line-height: 1;

  font-weight: bold;

  vertical-align: middle;

  box-sizing: border-box;

  color: var(--tile-text-color);

  text-transform: uppercase;

  -webkit-user-select: none;

  -moz-user-select: none;

  user-select: none;

  width: 62px;

  height: 62.5px;

  margin: 2px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;

  padding: 0;

  border: 0;

  font-size: 100%;

  font: inherit;

  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;

  vertical-align: baseline;

  background-color: #000;
}

.dark {
  --promo-icon-height: 27px;

  --promo-icon-width: 27px;

  --promo-icon-bg-size: 35px;

  --promo-icon-padding: 4px;
}

.dark {
  --color-present: var(--yellow-4);

  --color-correct: var(--green-4);

  --color-absent: var(--color-tone-1);

  --color-unknown: var(--black);

  --tile-text-color: var(--color-tone-1);

  --key-text-color: var(--color-tone-1);

  --key-evaluated-text-color: var(--color-tone-1);

  --key-bg: var(--color-tone-2);

  --key-bg-present: var(--color-present);

  --key-bg-correct: var(--color-correct);

  --key-bg-absent: var(--color-absent);

  --key-evaluated-text-color: var(--color-tone-8);

  --key-evaluated-text-color-absent: var(--white);

  --modal-content-bg: var(--color-tone-7);
}

.dark {
  --modal-content-bg: var(--color-tone-7);

  --outline-focus: var(--outlineBlue);
}

:root,
.dark {
  --color-background: var(--color-tone-7);
}

.dark {
  --color-tone-1: var(--newsDarkContentPrimary);

  --color-tone-2: var(--gray-24);

  --color-tone-3: var(--gray-25);

  --color-tone-4: var(--gray-26);

  --color-tone-5: var(--wordleBlack-2);

  --color-tone-6: var(--wordleBlack-3);

  --color-tone-7: var(--wordleBlack-4);

  --color-tone-8: var(--newsDarkContentPrimary);

  --color-tone-9: var(--gray-27);

  --color-tone-10: var(--newsGray-10);

  --color-tone-11: var(--newsGray-10);

  --color-tone-12: var(--newsGray-10);

  --color-nav-hover: var(--wordleBlack-5);

  --opacity-50: rgba(0, 0, 0, 0.5);

  --error-background: var(--color-tone-7);

  --icon-disabled: var(--gray-28);

  --svg-arrow-fill: var(--black);

  --svg-arrow-stroke: var(--white);

  --svg-arrow-fill-hover: var(--white);

  --svg-arrow-stroke-hover: var(--black);

  --inline-links: var(--linkDarkBlue);

  --warning-red: #ea7980;
}

body {
  line-height: 1;
}

@media (min-width: 768px) {
  :root {
    --header-padding-x: 20px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-padding-x: 24px;
  }
}

@media (min-width: 415px) {
  :root {
    --header-height: 65px;
  }
}

:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;

  font-size: 16px;

  --header-height: 40px;

  --header-padding-x: 16px;

  --keyboard-height: 200px;

  --game-max-width: 500px;

  --error-z-index: 500;

  --toast-z-index: 1000;

  --modal-z-index: 2000;

  --page-z-index: 3000;

  --system-toast-z-index: 4000;

  --horizontal-warning-z-index: 5000;

  --spelling-bee: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg");

  --daily: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Crossword-Icon-Normalized.svg");

  --mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Mini-Icon-Normalized.svg");

  --tiles: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Tiles-Icon-Normalized.svg");

  --sudoku: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Sudoku-Icon-Normalized.svg");

  --vertex: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Vertex-Icon-Normalized.svg");

  --letter-boxed: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/LetterBoxed-Icon-Normalized.svg");

  --strands: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Strands-Icon-Normalized.svg");

  --connections: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Connections-Icon.svg");

  --nyt: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/NYT-Icon-Normalized.svg");

  --wirecutter: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Wirecutter-Icon-Normalized.svg");

  --cooking: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Cooking-Icon-Normalized.svg");

  --athletic: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/Athletic-Icon-Normalized.svg");

  --stats-auth: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/stats-auth-cta.svg");

  --wordlebot: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Icon-Normalized.svg");

  --wordlebot-walking-icon: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/WordleBot-Walking-Icon-Normalized.svg");

  --wordle-icon: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/wordle-icon.svg");

  --wordle-star: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/wordle-green-star.svg");

  --wordle-progress-1: url("https://www.nytimes.com/games-assets/v2/assets/wordle/wordle_progress_1.svg");

  --wordle-progress-2: url("https://www.nytimes.com/games-assets/v2/assets/wordle/wordle_progress_2.svg");

  --wordle-progress-3: url("https://www.nytimes.com/games-assets/v2/assets/wordle/wordle_progress_3.svg");

  --wordle-progress-4: url("https://www.nytimes.com/games-assets/v2/assets/wordle/wordle_progress_4.svg");

  --wordle-progress-5: url("https://www.nytimes.com/games-assets/v2/assets/wordle/wordle_progress_5.svg");

  --gameslogo: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/gameslogo.svg");

  --stats-problem: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-issue.svg");

  --link-info: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/transparent-wordle-link.svg");

  --badge-confirm: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-confirm.svg");

  --badge-fail: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-badge-fail.svg");

  --large-stats: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-large-stats.svg");

  --wordle-sb-mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-sb.svg");

  --wordle-share-mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-share.svg");

  --wordle-stats-confirm-mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-confirm.svg");

  --wordle-stats-loaded-mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-loaded.svg");

  --wordle-stats-mini: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats.svg");

  --wordle-stats-mini-check: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-mini-stats-check.svg");

  --wordlebot-walking: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/WordleBot-walking.svg");

  --nyt-logo: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/nyt-logo.svg");

  --hybrid-back: url("https://www.nytimes.com/games-assets/v2/assets/hybrid-back-light-mode.svg");

  --hybrid-back-dark-mode: url("https://www.nytimes.com/games-assets/v2/assets/hybrid-back-dark-mode.svg");

  --icon-rotate-wordle: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/icon-rotate-wordle.svg");

  --california-privacy-icon: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/california-privacy-default.svg");

  --connections-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Connections-Icon-np.svg");

  --spelling-bee-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Spelling-Bee-Icon-np.svg");

  --mini-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Mini-Icon-np.svg");

  --sudoku-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Sudoku-Icon-np.svg");

  --tiles-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Tiles-Icon-np.svg");

  --daily-np: url("https://www.nytimes.com/games-assets/v2/assets/wordle/page-icons/Crossword-Icon-np.svg");

  --promo-icon-height: 40px;

  --promo-icon-width: 40px;

  --promo-icon-padding: 0px;

  --spelling-bee-promo: url("https://www.nytimes.com/games-assets/v2/assets/wordle/nav-icons/SpellingBee-Icon-Normalized.svg");
}

:root {
  --color-present: var(--yellow-3);

  --color-correct: var(--green);

  --color-absent: var(--color-tone-2);

  --tile-text-color: var(--color-tone-7);

  --key-text-color: var(--color-tone-1);

  --key-evaluated-text-color: var(--color-tone-7);

  --key-bg: var(--color-tone-4);

  --key-bg-present: var(--color-present);

  --key-bg-correct: var(--color-correct);

  --key-bg-absent: var(--color-absent);

  --key-evaluated-text-color: var(--color-tone-7);

  --key-evaluated-text-color-absent: var(--white);

  --modal-content-bg: var(--color-tone-7);

  --outline-focus: var(--outlineBlue);

  --color-correct-high-contrast: var(--wordle-high-contrast-green);
}

:root {
  --color-tone-1: var(--black);

  --color-tone-2: var(--gray-18);

  --color-tone-3: var(--gray-19);

  --color-tone-4: var(--gray-13);

  --color-tone-5: var(--gray-20);

  --color-tone-6: var(--gray-21);

  --color-tone-7: var(--white);

  --color-tone-8: var(--newsGray-100);

  --color-tone-9: var(--newsGray-10);

  --color-tone-10: var(--black);

  --color-tone-11: var(--gray-18);

  --color-tone-12: var(--newsGray-85);

  --color-nav-hover: var(--gray-6);

  --opacity-50: rgba(255, 255, 255, 0.5);

  --error-background: var(--gray-22);

  --icon-disabled: var(--gray-23);

  --background-gray: var(--gray-29);

  --inline-links: var(--linkBlue);

  --warning-red: #d0021b;
}

:root {
  --green: #6aaa64;

  --green-4: #538d4e;

  --beta-blue: #4f85e5;

  --wordle-high-contrast-green: #58a351;

  --spellingBeeYellow: #f7da21;

  --miniCrosswordBlue: #95befa;

  --connectionsPeriwinkle: #b4a8ff;

  --sudoku-orange: #fb9b00;

  --tiles-green: #b5e352;

  --dailyCrosswordBlue: #6493e6;

  --yellow-3: #c9b458;

  --yellow-4: #b59f3b;

  --newsGray-10: #dfdfdf;

  --newsGray-100: #121212;

  --newsGray-85: #363636;

  --gray-3: #ccc;

  --gray-4: #dcdcdc;

  --gray-6: #f4f4f4;

  --gray-13: #d3d6da;

  --gray-18: #787c7e;

  --gray-19: #878a8c;

  --gray-20: #edeff1;

  --gray-21: #f6f7f8;

  --gray-22: #e3e3e1;

  --gray-23: #a6a6a6;

  --gray-24: #818384;

  --gray-25: #565758;

  --gray-26: #3a3a3c;

  --gray-27: #424242;

  --gray-28: #59595a;

  --gray-29: #afafaf;

  --black: #000;

  --white: #fff;

  --newsDarkContentPrimary: #f8f8f8;

  --wordleBlack: #212121;

  --wordleBlack-2: #272729;

  --wordleBlack-3: #1a1a1b;

  --wordleBlack-4: #121213;

  --wordleBlack-5: #2f2f31;

  --linkBlue: #346eb7;

  --linkDarkBlue: #6ba1dd;

  --orange: #f5793a;

  --blue: #85c0f9;

  --outlineBlue: #2671dc;

  --svg-arrow-fill: var(--white);

  --svg-arrow-stroke: var(--black);

  --svg-arrow-fill-hover: var(--black);

  --svg-arrow-stroke-hover: var(--white);
}

:root {
  --inter-ad-skip-button-height: 52px;

  --inter-ad-top-bar-height: 34px;

  --inter-ad-bottom-bar-height: 24px;
}

.tile-row-container {
  display: flex;
  flex-direction: row;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.candidates {
  color: #fb9b00;
}

.remaining-words {
  display: flex;
  flex-direction: row;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
